[submodule "Loop"]
	path = Loop
	branch = dev
	url = https://github.com/LoopKit/Loop.git
[submodule "LoopKit"]
	path = LoopKit
	branch = dev
	url = https://github.com/LoopKit/LoopKit.git
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	branch = dev
	url = https://github.com/LoopKit/CGMBLEKit.git
[submodule "SwiftCharts"]
	path = SwiftCharts
	url = https://github.com/i-schuetz/SwiftCharts.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	branch = dev
	url = https://github.com/LoopKit/dexcom-share-client-swift.git
[submodule "G4ShareSpy"]
	path = G4ShareSpy
	branch = dev
	url = https://github.com/LoopKit/G4ShareSpy.git
[submodule "rileylink_ios"]
	path = rileylink_ios
	branch = dev_orange
	url = https://github.com/yansaid/rileylink_ios.git
[submodule "Amplitude-iOS"]
	path = Amplitude-iOS
	branch = decreepify
	url = https://github.com/LoopKit/Amplitude-iOS.git
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	branch = appex-safe
	url = https://github.com/LoopKit/MKRingProgressView.git
[submodule "NightscoutService"]
	path = NightscoutService
	branch = dev
	url = https://github.com/ps2/NightscoutService.git
[submodule "Minizip"]
	path = Minizip
	url = https://github.com/dexman/Minizip.git
[submodule "TrueTime.swift"]
	path = TrueTime.swift
	url = https://github.com/instacart/TrueTime.swift.git
[submodule "bubble-client-swift"]
	path = bubble-client-swift
	url = https://github.com/bubbledevteam/bubble-client-swift.git
[submodule "NightscoutAPIClient"]
	path = NightscoutAPIClient
	branch = newloop
	url = https://github.com/yansaid/NightscoutAPIClient.git
